/** @format */

.macbook {
  width: 100%;
  background-color: black;
  padding: 15rem 0;

  @include center;
  flex-direction: column;

  clip-path: polygon(68% 0, 100% 0, 100% 97%, 38% 100%, 0 100%, 0 3%);

  &__title {
    font-size: 10rem;
    font-weight: 200;
    color: var(--primary-color);
    margin-bottom: 15rem;
  }

  &__contents {
    width: 80%;
    perspective: 1000rem;

    @include center;
    flex-direction: column;
    position: relative;
  }

  &__img {
    width: inherit;

    &--1 {
      transform: rotateX(-80deg);
      transform-origin: bottom;
    }
  }

  &__loading {
    position: absolute;
    top: 7%;
    width: 60%;
    height: 80%;
    background: linear-gradient(
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)
      ),
      url(../images/MacBook/desktop.png) center no-repeat;

    z-index: -1;
    opacity: 0;

    &--wrapper {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--black-color);

      @include center;
      flex-direction: column;

      i {
        font-size: 10rem;
        color: var(--white-color);
        margin-bottom: 2rem;
      }

      div.progress-bar {
        width: 22rem;
        height: 0.3rem;
        background-color: #888;
        border-radius: 5rem;
        position: relative;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 100%;
          background-color: var(--white-color);
        }
      }
    }
  }

  &__info {
    position: absolute;
    width: 70rem;
    text-align: center;
    opacity: 0;

    &--heading {
      font-size: 6rem;
      font-weight: 400;
      color: var(--primary-color);
    }

    &--price {
      font-size: 2.5rem;
      font-weight: 200;
      margin: 3rem 0;
    }

    &--btn {
      width: 25rem;
      height: 5rem;
      background-image: linear-gradient(#ddd, #fff);
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0.1rem 0.1rem 0.1rem #fff, -0.1rem -0.1rem 0.1rem #fff;
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 0.2rem;
      color: var(--primary-color);
      cursor: pointer;
    }
  }
}

.change {
  // Open MacBook
  .macbook__img--1 {
    transform: translateX(0);
    transition: transform 3s;
  }

  // Display Loading Section
  .macbook__loading {
    opacity: 1;
    transition: opacity 1s 2s;
  }

  // Loading Bar Animation
  div.progress-bar::after {
    width: 100%;
    transition: width 1s 3s;
  }

  // Hide Loading Section After All Animation
  .macbook__loading--wrapper {
    opacity: 0;
    transition: 1s 5s;
  }

  // Display MacBook Info
  .macbook__info {
    opacity: 1;
    transition: 1s 6s;
  }
}
